div:nav {
    padding-right: 3000px;
}
li {
    display: inline;
    float: left;
    background-color: #dddddd;
}
a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
div.streams {
    padding: 8px;
}
