div:nav {
    padding-right: 3000px;
}
ul {
    background-color: #1FD51F;
}
li {
    display: inline;
    float: left;
    background-color: #dddddd;
}
a {
    display: block;
    padding: 8px;
    background-color: #1FD51F;
    text-decoration: none;
    color: black;
}
a#current {
    display: block;
    padding: 8px;
    background-color: #23FA23;
    text-decoration: none;
    color: black;
}
